apiVersion: v1
kind: Config
clusters:
- name: ${CLUSTER_NAME}
  cluster:
    server: ${SERVER_ENDPOINT}
    insecure-skip-tls-verify: true
users:
- name: ${USER_NAME}
  user:
    exec:
      apiVersion: client.authentication.k8s.io/v1
      command: kube-dc
      args:
        - credential
        - --server
        - ${SERVER_ENDPOINT}
      interactiveMode: IfAvailable
contexts:
- name: kube-dc/${ORGANIZATION}/${NAMESPACE}
  context:
    cluster: ${CLUSTER_NAME}
    user: ${USER_NAME}
    namespace: ${NAMESPACE}
current-context: kube-dc/${ORGANIZATION}/${NAMESPACE}
preferences:
  colors: true