apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "kube-dc.backend.fullname" . }}
  labels:
    {{- include "kube-dc.backend.labels" . | nindent 4 }}
spec:
  {{- if not .Values.backend.autoscaling.enabled }}
  replicas: {{ .Values.backend.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "kube-dc.backend.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.backend.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "kube-dc.backend.labels" . | nindent 8 }}
        {{- with .Values.backend.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.backend.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "kube-dc.backend.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.backend.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.backend.securityContext | nindent 12 }}
          image: "{{ .Values.backend.image.repository }}:{{ .Values.backend.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.frontend.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 3333 #{{ .Values.backend.service.port }}
              protocol: TCP
          env:
            - name: PROM_URL
              value: "http://prom-operator-kube-prometh-prometheus.monitoring:9090"
            - name: PROJECT_SHELL_API_URL
              value: "{{ .Values.kubeApiExternalUrl }}"
            - name: KEYCLOAK_URL
              valueFrom:
                secretKeyRef:
                  name: master-config
                  key: url
            - name: CONSOLE_URL
              valueFrom:
                secretKeyRef:
                  name: master-config
                  key: console_url
            - name: KEYCLOAK_ADMIN_USER
              valueFrom:
                secretKeyRef:
                  name: master-config
                  key: user
            - name: KEYCLOAK_ADMIN_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: master-config
                  key: password
            {{- if .Values.backend.smtp.enabled }}
            - name: SMTP_HOST
              value: "{{ .Values.backend.smtp.host }}"
            - name: SMTP_PORT
              value: "{{ .Values.backend.smtp.port }}"
            - name: SMTP_SECURE
              value: "{{ .Values.backend.smtp.secure }}"
            - name: SMTP_USER
              value: "{{ .Values.backend.smtp.user }}"
            - name: SMTP_PASS
              value: "{{ .Values.backend.smtp.password }}"
            - name: SMTP_FROM
              value: "{{ .Values.backend.smtp.from }}"
            - name: SMTP_FROM_NAME
              value: "{{ .Values.backend.smtp.fromName }}"
            {{- end }}
          {{- with .Values.backend.extraEnv }}
            {{- toYaml . | nindent 12 }}
          {{- end }}
          livenessProbe:
            {{- toYaml .Values.backend.livenessProbe | nindent 12 }}
          readinessProbe:
            {{- toYaml .Values.backend.readinessProbe | nindent 12 }}
          resources:
            {{- toYaml .Values.backend.resources | nindent 12 }}
          {{- with .Values.backend.volumeMounts }}
          volumeMounts:
            {{- toYaml . | nindent 12 }}
          {{- end }}
      {{- with .Values.backend.volumes }}
      volumes:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.backend.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.backend.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.backend.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
