apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "kube-dc.frontend.fullname" . }}-config
data:
  env.js: |
    window.backendURL = 'http{{- if .Values.backend.ingress.tls.enabled }}s{{ end }}://{{ .Values.backend.ingress.host }}';
    window.frontendURL = 'http{{- if .Values.frontend.ingress.tls.enabled }}s{{ end }}://{{ .Values.frontend.ingress.host }}';
    window.keycloakURL = '{{ .Values.manager.keycloakSecret.url }}';
    window.ssoEnabled = {{ .Values.manager.keycloakSecret.ssoEnabled | default false }};
    {{- if .Values.frontend.extraJsEnv }}
    {{- range $key, $value := .Values.frontend.extraJsEnv }}
    window.{{ $key }} = '{{ $value }}';
    {{- end }}
    {{- end }}