apiVersion: v1
kind: Secret
metadata:
  name: master-config
type: Opaque
stringData:
  url: {{ .Values.manager.keycloakSecret.url }}
  user: {{ .Values.manager.keycloakSecret.user }}
  password: {{ .Values.manager.keycloakSecret.password }}
  master_realm: {{ .Values.manager.keycloakSecret.masterRealm }}
  console_url: {{ .Values.manager.keycloakSecret.consoleUrl }}
  kube_auth_file_path: "/etc/kube-auth-conf.yaml"
  ovn_db_ips: {{ .Values.manager.ovnDbIps }}
  {{- if .Values.manager.defaultGwNetworkType }}
  default_gw_network_type: {{ .Values.manager.defaultGwNetworkType }}
  {{- end }}
  {{- if .Values.manager.defaultEipNetworkType }}
  default_eip_network_type: {{ .Values.manager.defaultEipNetworkType }}
  {{- end }}
  {{- if .Values.manager.defaultFipNetworkType }}
  default_fip_network_type: {{ .Values.manager.defaultFipNetworkType }}
  {{- end }}
  {{- if .Values.manager.defaultSvcLbNetworkType }}
  default_svc_lb_network_type: {{ .Values.manager.defaultSvcLbNetworkType }}
  {{- end }}
  {{- if .Values.manager.baseDomain }}
  base_domain: {{ .Values.manager.baseDomain }}
  {{- end }}
  {{- if .Values.manager.keycloakSecret.ssoEnabled }}
  ssoEnabled: {{ .Values.manager.keycloakSecret.ssoEnabled | quote }}
  ssoBrokerSecret: {{ .Values.manager.keycloakSecret.ssoBrokerSecret }}
  googleClientId: {{ .Values.manager.keycloakSecret.googleClientId }}
  googleClientSecret: {{ .Values.manager.keycloakSecret.googleClientSecret }}
  {{- end }}
  {{- if .Values.smtp.enabled }}
  smtp_host: {{ .Values.smtp.host }}
  smtp_port: {{ .Values.smtp.port | quote }}
  smtp_from: {{ .Values.smtp.from }}
  smtp_from_name: {{ .Values.smtp.fromName }}
  smtp_user: {{ .Values.smtp.user | default "" | quote }}
  smtp_password: {{ .Values.smtp.password | default "" | quote }}
  {{- end }}
