kubeApiExternalUrl: {{ printf "kube-api.%s:6443" .variables.domain }}

manager:
  logLevel: 5 # - Debug
  keycloakDebug: false

  ovnDbIps: "{{ output "this.list-master-nodes.ovn_db_endpoints_list" }}"

  image:
    pullPolicy: Always
    tag: {{ .variables.versions.manager | default "v0.1.34-dev10" }}

  kubernetesAuthConfig:
    path: /etc/rancher
    filename: auth-conf.yaml

  keycloakSecret:
    url: "https://{{ .variables.cluster_config.keycloak_hostname | default ( printf "login.%s" .variables.domain ) }}"
    user: {{ .variables.cluster_config.keycloak_user | default "admin" }} 
    password: {{ output "this.keycloak-pass-generator.password" }}
    masterRealm: master
    consoleUrl: https://{{ printf "console.%s" .variables.domain }}
    {{- if .variables.sso.enabled }}
    ssoEnabled: true
    ssoBrokerSecret: {{ .variables.sso.broker_secret | default (output "this.sso-broker-secret-generator.secret") }}
    googleClientId: {{ .variables.sso.google_client_id }}
    googleClientSecret: {{ .variables.sso.google_client_secret }}
    {{- end }}

  nodeSelector:
    kube-dc-manager: "true"
  
  {{- if .variables.cluster_config.default_gw_network_type }}
  defaultGwNetworkType: {{ .variables.cluster_config.default_gw_network_type }}
  {{- end }}
  {{- if .variables.cluster_config.default_eip_network_type }}
  defaultEipNetworkType: {{ .variables.cluster_config.default_eip_network_type }}
  {{- end }}
  {{- if .variables.cluster_config.default_fip_network_type }}
  defaultFipNetworkType: {{ .variables.cluster_config.default_fip_network_type }}
  {{- end }}
  {{- if .variables.cluster_config.default_svc_lb_network_type }}
  defaultSvcLbNetworkType: {{ .variables.cluster_config.default_svc_lb_network_type }}
  {{- end }}

frontend:
  image:
    pullPolicy: Always
    tag: {{ .variables.versions.frontend | default "v0.1.34-dev36" }}
  replicaCount: 1
  service:
    type: ClusterIP
    port: 8080
  livenessProbe:
    httpGet:
      path: /
      port: 80
    timeoutSeconds: 5
    periodSeconds: 10
    failureThreshold: 3
  readinessProbe:
    httpGet:
      path: /
      port: 80
    timeoutSeconds: 5
    periodSeconds: 10
    failureThreshold: 3
  gateway:
    enabled: true
    parentRef:
      name: eg
      namespace: envoy-gateway-system
  ingress:
    enabled: false
    annotations:
      kubernetes.io/ingress.class: "nginx"
      cert-manager.io/cluster-issuer: "letsencrypt-prod-http"
    host: {{ printf "console.%s" .variables.domain }}
    className: nginx
    tls:
      enabled: true
      secretName: kube-dc-frontend-tls

backend:
  image:
    pullPolicy: Always
    tag: {{ .variables.versions.backend | default "v0.1.34-dev36" }}
  # Note: keycloakUrl, consoleUrl, appUrl are read from master-config secret
  
  {{- if .variables.smtp.enabled }}
  smtp:
    enabled: true
    host: "{{ .variables.smtp.host }}"
    port: "{{ .variables.smtp.port }}"
    secure: "{{ .variables.smtp.secure }}"
    user: "{{ .variables.smtp.user }}"
    password: "{{ .variables.smtp.password }}"
    from: "{{ .variables.smtp.from }}"
    fromName: "{{ .variables.smtp.fromName }}"
  {{- end }}
  
  replicaCount: 1
  service:
    type: ClusterIP
    port: 8080
  livenessProbe:
    httpGet:
      path: /
      port: 3333
    timeoutSeconds: 5
    periodSeconds: 10
    failureThreshold: 3
  readinessProbe:
    httpGet:
      path: /
      port: 3333
    timeoutSeconds: 5
    periodSeconds: 10
    failureThreshold: 3
  gateway:
    enabled: true
    parentRef:
      name: eg
      namespace: envoy-gateway-system
  ingress:
    enabled: false
    className: nginx
    annotations:
      kubernetes.io/ingress.class: "nginx"
      cert-manager.io/cluster-issuer: "letsencrypt-prod-http"
    host: {{ printf "backend.%s" .variables.domain }}
    tls:
      enabled: true
      secretName: kube-dc-backend-tls


