# vCluster Configuration for Kube-DC Project VPC Deployment
# 
# This configuration is applied AFTER initial vCluster deployment
# by patching the StatefulSet with dual-network annotations.
#
# Usage:
#   1. Deploy vCluster: vcluster create my-vcluster -n <namespace> --connect=false
#   2. Apply this patch: kubectl patch statefulset my-vcluster -n <namespace> --patch-file vcluster-config.yaml
#   3. Restart pod: kubectl delete pod my-vcluster-0 -n <namespace>

apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: my-vcluster
spec:
  template:
    metadata:
      annotations:
        # Enable Multus dual-network
        # Attaches secondary network interface (net1) connected to default VPC
        k8s.v1.cni.cncf.io/networks: default/ovn-nad
        
        # Route Kubernetes API traffic (10.101.0.1) through default VPC gateway
        # This allows vCluster syncer to reach the host cluster API
        ovn-nad.default.ovn.kubernetes.io/routes: '[{"dst":"10.101.0.1/32","gw":"10.100.0.1"}]'
        
        # Specify logical switch for secondary interface
        # This connects net1 to the ovn-default logical switch (default VPC)
        ovn-nad.default.ovn.kubernetes.io/logical_switch: ovn-default
        
        # Enable TProxy for kubelet health checks
        # Allows kubelet on physical nodes to perform health checks on pods in custom VPC
        ovn.kubernetes.io/enable_tproxy: "true"
