crd:
  enabled: false

prometheus-node-exporter:
  resources:
    requests:
      memory: 32Mi
    limits:
      memory: 64Mi
  prometheus:
    monitor:
      enabled: true
      relabelings:
        - sourceLabels: [__meta_kubernetes_endpoint_node_name]
          targetLabel: node


grafana:
  adminPassword: {{ output "this.prom-pass-generator.password" }}
  replicas: 1
  resources:
    requests:
      memory: 128Mi
    limits:
      memory: 512Mi
  additionalDataSources:
    - name: Alertmanager
      type: alertmanager
      url: http://prom-operator-kube-prometh-alertmanager:9093
      editable: true
      access: proxy
      version: 2
      jsonData:
        implementation: prometheus
    - name: Loki
      type: loki
      url: http://loki-gateway
      access: proxy
      editable: true
  ingress:
    enabled: false  # Disabled - using Envoy Gateway HTTPRoute instead
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-prod-http
      kubernetes.io/ingress.class: nginx
    hosts:
      - grafana.{{ .variables.domain }}
    path: "/"
    tls:
      - secretName: tls-grafana
        hosts:
          - grafana.{{ .variables.domain  }}

prometheus:
  prometheusSpec:
    replicas: 1
    resources:
      requests:
        memory: 1Gi
      limits:
        memory: 2Gi
    serviceMonitorSelectorNilUsesHelmValues: false
    podMonitorSelectorNilUsesHelmValues: false
    probeSelectorNilUsesHelmValues: false
    ruleSelectorNilUsesHelmValues: false

    retention: {{ .variables.monitoring.retention }}
    retentionSize: {{ .variables.monitoring.retention_size }}
    storageSpec:
      volumeClaimTemplate:
        spec:
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: {{ .variables.monitoring.prom_storage }}
    enableFeatures:
      - "--enable-feature=memory-snapshot-on-shutdown"

prometheusOperator:
  admissionWebhooks:
    enabled: false
  tls:
    enabled: false
  resources:
    requests:
      memory: 128Mi
    limits:
      memory: 256Mi

alertmanager:
  alertmanagerSpec:
    replicas: 1
    resources:
      requests:
        memory: 128Mi
      limits:
        memory: 256Mi

kube-state-metrics:
  resources:
    requests:
      memory: 64Mi
    limits:
      memory: 128Mi

