global:
  security:
    allowInsecureImages: true

extraEnvVars:
  - name: KC_FEATURES
    value: "preview,organization"
  - name: KC_PROXY_HEADERS
    value: "xforwarded"
  - name: KC_HTTP_ENABLED
    value: "true"
  - name: KC_HOSTNAME_STRICT
    value: "false"

image:
  registry: docker.io
  repository: bitnamilegacy/keycloak
  tag: 26.0.7-debian-12-r0

auth:
  adminUser: {{ .variables.cluster_config.keycloak_user | default "admin" }} 
  adminPassword: {{ output "this.keycloak-pass-generator.password" }}
  existingSecret: ""
  passwordSecretKey: ""

service:
  type: ClusterIP
  http:
    enabled: true

ingress:
  enabled: false  # Disabled - using Envoy Gateway HTTPRoute instead
  ingressClassName: nginx
  hostname: {{ .variables.cluster_config.keycloak_hostname | default ( printf "login.%s" .variables.domain ) }}
  hostnameStrict: true
  path: /
  pathType: Prefix
  servicePort: http
  annotations:
    kubernetes.io/ingress.class: "nginx"
    cert-manager.io/cluster-issuer: "letsencrypt-prod-http"
  tls: true
  secrets: []

production: true

## Proxy settings for running behind a reverse proxy (Envoy Gateway)
## ref: https://www.keycloak.org/server/reverseproxy
proxy: edge

## HTTPS settings
## ref: https://github.com/bitnami/containers/tree/main/bitnami/keycloak#tls-encryption
##
tls:
  ## @param tls.enabled Enable TLS encryption. Required for HTTPs traffic.
  ##
  enabled: false
  ## @param tls.autoGenerated Generate automatically self-signed TLS certificates. Currently only supports PEM certificates
  ##
  autoGenerated: false 

logging:
  output: default
  level: INFO

# Reduce resource requests for single-node installer
resources:
  requests:
    cpu: 250m
    memory: 512Mi

# Override PostgreSQL to use bitnamilegacy images
postgresql:
  enabled: true
  image:
    registry: docker.io
    repository: bitnamilegacy/postgresql
    tag: 17.2.0-debian-12-r2
  primary:
    resources:
      requests:
        cpu: 250m
        memory: 256Mi